@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    color: #191919;
    font-family: 'Roboto', sans-serif;
}

b {
    font-weight: 600;
}

/*HEADER*/

nav {
    position: sticky;
    top: 0;
    width: 85%;
    background-color: #FFC017;
    padding: 1.5% 8%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #191919;;
    z-index: 2;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

nav.scrolled {
    background-color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: #191919;
  }

nav div .btn {
    background-color: transparent;
    width: 7em;
    height: 2.5em;
    border: none;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1em;
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}

nav div .btn:hover {
    color: white;
    background-color: #191919;
    width: 7em;
    height: 2.5em;
    border: none;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1em;
}

nav div .btn:hover.scrolled {
    background-color: #1A8917;
} 

.btnActive {
    color: white;
    background-color: #191919;
    width: 7em;
    height: 2.5em;
    border: none;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1em;
}

.btnGreen.scrolled {
    background-color: #1A8917;
}

nav div a:last-child {
    color: white;
    background-color: #191919;
    width: 7em;
    height: 2.5em;
    border: none;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1em;
}

header {
    background-color: #FFC017;
    display: flex;
    justify-content: space-between;
    height: 30em;
    border-bottom: #191919 1px solid;
}

header div {
    padding-left: 8%;
    width: 100%;
}

h1 {
    font-family: 'Spectral', serif;
    font-size: 6em;
    margin-top: 1em;
}

header p {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
    width: 65%;
}

.heroBtn {
    color: white;
    background-color: #191919;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 4em;
}

.heroBtn:visited {
    color: white;
    
}

/*MAIN*/

#trendsMain {
    padding: 0 6em;
}

#trendsDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    padding-left: 0;
    justify-content: center;
    justify-content: space-between;
}

#trendsH {
    display: flex;
    align-items: center;
    padding-left: 1.3em;
    padding-top: 3em;
    font-weight: 600;
}

h3 {
    font-size: 0.9em;
    padding-left: 0.5em;
    font-weight: 600;
}

.trends {
    padding: 1em;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    width: 30em;
}

.number {
    padding: 0.7em;
    padding-top: 0;
    opacity: 20%;
    font-size: 2em;
    font-weight: 900;
}

.tonda {
    border-radius: 100%;
    width: 30px;
}

.tondaB {
    border-radius: 100%;
    width: 30px;
    border: 1.5px solid rgb(231, 231, 231);
}

.stonda {
    border-radius: 30%;
    width: 30px;
}

.tondaD {
    width: 30px;
}

.trends div:first-of-type {
    display: flex;
    align-items: center;
}

.tName{
    padding: 0 1em;
    font-size: 0.8em;
}

.tTitle {
    padding: 0.8em;
    padding-left: 0;
    font-weight: 600;
    font-size: 1.1em;

}

.tTime {
    opacity: 60%;
    padding-top: -1em;
    padding-right: 0.3em;
    font-size: 0.8em;
}

.timeDivS {
    display: flex;
    align-items: center;
    padding-bottom: 2em;
}

hr {
    opacity: 30%;
    margin-bottom: 3em;
}

#bottom {
    display: flex;
    padding: 0 6em;
    padding-top: 2em;
}

#bottom article {
    width: 60%;
}

.articoli {
    display: flex;
    padding-right: 8em;
    padding-bottom: 4em;
    justify-content: flex-end;
}

.aSinistra {
    padding-right: 2em;
    width: 30em;
}

.btmAutor {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.btmAName {
    padding: 0 0.5em;
    font-size: 0.8em;
    font-weight: 600;
}

.btmTitle {
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 0.3em;
}

.btmText {
    opacity: 70%;
    padding-bottom: 0.5em;
    line-height: 1.3em;
}

.bGrigio {
    background-color: #ebebeb;
    padding: 0.4em;
    border-radius: 30px;
}

.timeDiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

aside {
    width: 40%;
    padding-right: 1em;
}

.aDestra img {
    width: 14.5em;
}

.listBG {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 80%;
}

.listBG:first-of-type p {
    opacity: 70%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    margin: 0.3em;
    padding: 1em;
    font-weight: 500;
}

.listBG:last-of-type p {
    opacity: 70%;
    margin: 0.3;
    margin-left: 0;
    padding: 2.3em;
    padding-left: 0;
    padding-top: 0;
}

#btmHr {
    padding-bottom: 0;
    margin-bottom: 1em;
    width: 70%;
    margin-right: 15em;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    nav {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        width: 84%;
    }

    nav div .btn {
        background-color: transparent;
        width: 7em;
        height: 2.5em;
        border: none;
        border-radius: 30px;
        font-family: 'Roboto', sans-serif;
        padding: 0.5em 0.5em;
        transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
    }

    header {
        height: 23em;
    }

    header div {
        width: 55em;
    }

    h1 {
        font-size: 4em;
        margin-top: 1.3em;
        margin-bottom: 0;
    }

    header div p {
        margin-top: 1em;
        width: 100%;
    }

    #trendsMain {
        padding: 1em;
    }

      #trendsDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
      }

      .stellaCiao {
        display: none;
      }
      
      .trends {
        margin-bottom: 20px;
        width: auto;
      }      
      
    #bottom {
        display: flexbox;
        padding: 0;
        flex-direction: column-reverse;
    }

    .articoli {
        padding: 0 1em;
        width: 46em;
    }

    aside {
        width: 98%;
    }

    aside h3 {
        padding-left: 2.5em;
        padding-bottom: 1em;
    }

    .listBG {
        width: 90%;
        padding: 0 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #btmHr {
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    nav {
        width: 84%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    header {
        height: 21em;
    }

    h1 {
        font-size: 4em;
        padding: 0;
    }

    header p {
        margin-top: 0.7em;
        width: 17em;
    }

    svg {
        display: none;
    }

    .sparisci {
        display: none;
    }

    #trendsMain {
        padding: 0;
    }

    .trendsDiv {
        display: block;
    }

    .articoli {
        width: 10em;
    }

    .aDestra img {
        width: 200px;
    }

    .stellaCiao {
        display: none;
      }   
      
    #bottom {
        display: flexbox;
        padding: 0;
        flex-direction: column-reverse;
    }

    .articoli {
        padding: 0 1em;
        width: 28em;
    }

    aside {
        width: 96%;
    }

    aside h3 {
        padding-left: 2.5em;
        padding-bottom: 1em;
    }

    .listBG {
        width: 90%;
        padding: 0 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #btmHr {
        padding: 0;
        width: 100%;
    }

    .tronca {
        display: block;
        max-height: 1.5em; /* altezza massima in em */
        line-height: 1em; /* altezza della riga in em */
        overflow: hidden;
        margin-bottom: 0.5em;
      }

    .btmAutor img {
        width: 1.5em;
    }

    .btmAName {
        font-size: 0.7em;
    }

    .btmTitle {
        font-size: 1em;
    }

    .btmText {
        font-size: 0.8em;
    }
}